@font-face {
    font-family: 'Aquamin';
    src: url('../fonts/_Acumin-RPro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aquamin';
    src: url('../fonts/Acumin\ Pro\ Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aquamin';
    src: url('../fonts/Acumin\ Pro\ Semibold.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Aquamin';
    src: url('../fonts/Acumin\ Pro\ Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

body,
input {
    font-family: theme('fontFamily.main');
    font-weight: 400;
}